.cart-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #555;
}

.cart-total span:nth-child(1) {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 400;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cart-total span:nth-child(2) {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}