.filter-bar {
  width: 30%;
  background-color: #fff;
}

.filter-bar-header {
  display: flex;
}

.filter-bar-header h5 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
}

.filter-bar-header button {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #c1c1c1;
  text-decoration: underline;
  text-underline-offset: 5px;
  
  background-color: #fff;
  border: none;
  cursor: pointer;
  min-width: 81px;
  margin: 0;
  margin: 1.67rem 0 0 1.2rem;
  padding: 0;
}

.filter-bar-categories {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.filter-bar-categories span {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-item label {
  color: #555;
}

.filter-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  appearance: none;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  margin-right: 0.5rem;
}

.filter-item input[type="checkbox"]:checked {
  background-color: #fff;
}

.filter-item input[type="checkbox"]:checked::after {
  content: '✔';
  font-size: 14px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-bar-colors {
  display: flex;
  flex-direction: column;
}

.filter-bar-colors span {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.colors-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

.color-item {
  position: relative;
}

.color-item input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
}

.color-item label {
  display: none;
}
.color-item input[type="checkbox"]:checked {
  border: 2px solid #000;
}

.color-item input[type="checkbox"]:checked::after {
  content: '✔';
  font-size: 12px;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}