.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  background-color: #000;
  color: white;
  border-bottom: 1px solid #555;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

.nav-item {
  cursor: pointer;
}

.nav-item-search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-item-search span {
  font-size: 16px;
  font-weight: 400;
  color: #646262;
}

.nav-item:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.cart-info {
  display: flex;
  align-items: center;
}

.cart-count {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.login-text {
  margin-left: 1rem;
  cursor: pointer;
}

.login-text:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
