.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px); /* 70px = navbar height */
  padding: 0 10%;
}

.payment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.payment-header-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.payment-header-title h6 {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

.payment-body {
  display: flex;
  gap: 4rem;
  width: 100%;
}

.payment-body-cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.payment-body-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  width: 100%;
  gap: 2rem;
  background-color: #000;
  padding: 16px;
}

.payment-body-form-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #555;
}

.payment-body-form-total span:nth-child(1) {
  font-size: 22px;
}

.payment-body-form-total span:nth-child(2) {
  font-size: 24px;
  font-weight: 600;
}

.payment-body-form-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.payment-body-security {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.payment-body-security-iconText {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.payment-body-security-iconText span {
  font-size: 20px;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #000;
}

.payment-body-security-text {
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
}